<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::system">
                    <resource id="AliTopaloglu_EventObserverLister::event_observer_lister" title="Event Observer Lister">
                        <resource id="AliTopaloglu_EventObserverLister::event_observer_lister_list" title="Show List" />
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
